.mixit_filter_gallery {
}
.mixit_filter_tab {
}

.cust_btn {
  width: 100px;
  padding: 10px 15px;
  border: 1px solid #cdcdcd;
  margin: 0 5px 20px;
  background-color: #cdcdcd;
  color: #ffffff;
  text-transform: capitalize;
  transition: 0.3s;
}
.cust_btn:hover {
  border: 1px solid #969696;
  color: #ffffff;
  background-color: #969696;
}
.cust_btn:focus {
  box-shadow: none;
}

.cust_btn.mixitup-control-active {
  padding: 10px 15px;
  border: 1px solid #367fbe;
  color: #ffffff;
  background-color: #367fbe;
}
.cust_btn.mixitup-control-active:focus {
  box-shadow: none;
}
/* 
.mixitup-control-active[data-filter]:after {
  background: transparent;
} */

.cust_space {
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 8px;
}

.fixed_hw {
}
.filter_img {
}
.filter_img img {
}
